$dark-green-color: #016f52;
$dark-blue-color: #1a77a3;
$purple-color: #e5e5e5;
$light-green-color: #81d2bc;
$light-blue-color: #d7e8ef;
$dark-blue-2-color: #1c77a4;
$neutral-black-color: #000;
$neutral-white-color: #fff;
$hodovoy-color: #140A32;
