header {
  z-index: 20;
  padding-top: 40px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: $neutral-white-color;
  .header-top {
    display: flex;
    gap: 30px;
    align-items: center;

    .bx-menu {
      display: none;
    }

    &_logo {
      width: 211px;
    }

    &__list {
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--item {
        .bx-user {
          display: none;
        }
        &-link-input {
          display: flex;
          align-items: center;
          input {
            box-shadow: 0px 0px 2px 0.1px rgba(0, 0, 0, 0.281);
            color: #666;
            border-radius: 10px;
            outline: none;
            width: 427px;
            border: none;
            background: rgba(47, 43, 67, 0.04);
            height: 52px;
            padding-top: 14px;
            padding-bottom: 14px;
            padding-left: 20px;
            padding-right: 45px;
          }

          .bx-search {
            cursor: pointer;
            position: relative;
            right: 40px;
            font-size: 24px;
            color: #2f2b4366;
          }
        }

        &-link-request {
          a {
            button {
              transition: all 0.4s ease;
              cursor: pointer;
              width: 192px;
              height: 52px;
              outline: none;
              border: none;
              display: flex;
              align-items: center;
              gap: 10px;
              color: #fff;
              text-decoration: none;
              background-color: $dark-green-color;
              border-radius: 10px;
              padding-top: 10px;
              padding-bottom: 10px;
              padding-left: 20px;
              padding-right: 20px;

              &:hover {
                background-color: $light-green-color;
              }

              &:active {
                background-color: $dark-green-color;
              }
            }
          }
        }

        &-link-number {
          padding-left: 30px;
          display: flex;
          flex-direction: column;
          gap: 5px;
          p {
            color: rgba(47, 43, 67, 0.5);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }

          h3 {
            color: $hodovoy-color;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
          }
        }
      }
    }
  }

  .nav {
    padding-top: 40px;
    .nav__list {
      list-style-type: none;
      display: flex;
      gap: 30px;
      align-items: center;
      justify-content: space-between;

      &--item {
        transition: all 0.2s ease;
        cursor: pointer;
        color: $hodovoy-color;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:hover {
          color: $dark-green-color;
          cursor: pointer;
        }
        &-call {
          cursor: pointer;
          border: 1px solid rgba(47, 43, 67, 0.15);
          border-radius: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 20px;

          p {
            color: $hodovoy-color;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        &-telegram {
          cursor: pointer;
          border: 1px solid rgba(47, 43, 67, 0.15);
          border-radius: 10px;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 10px 20px;

          p {
            color: $hodovoy-color;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }

        &-user_status {
          display: flex;
          gap: 10px;
          align-items: center;

          .log_out {
            cursor: pointer;
            font-weight: 500;
          }

          .registration {
            font-weight: 500;
            cursor: pointer;
          }

          p {
            color: $hodovoy-color;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 500px) {
    z-index: 20;
    padding: 15px;
    position: sticky;
    top: 0;
    background-color: $neutral-white-color;

    .header-top {
      display: flex;
      justify-content: space-between;
      gap: 30px;
      align-items: center;

      .bx-user {
        display: flex;
        cursor: pointer;
        font-size: 24px;
        color: #33836e;
      }

      .bx-search {
        position: relative;
        right: 12px;
        color: #33836e;
      }

      .bx-menu {
        cursor: pointer;
        display: flex;
        color: #33836e;
        position: relative;
        right: 20px;
        font-size: 32px;
      }

      &_logo {
        width: 180px;
        text-align: end;
      }

      &__list {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--item {
          &-link-input {
            display: flex;
            align-items: center;

            input {
              display: none;
            }

            img {
              cursor: pointer;
              position: relative;
              right: 10px;
            }
          }

          &-link-request {
            display: none;
          }

          &-link-number {
            display: none;
          }
        }
      }
    }

    .nav {
      display: none;
    }
  }
}
